body {
	background-color: whitesmoke;
	margin: 3rem;
}

h1,
h2,
h3,
ul,
ol,
p {
	color: rgb(20, 113, 199);
    font-family: "Raleway";
    font-weight: 600;
    text-align: justify;
}

a {
	color: rgb(23, 49, 111);
}

.alerta {
    /* background-color: yellow; */
    /* display: inline; */
    text-align: center;
}

.logoimagem {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.cont {
    font-weight: 800;
}