body {
	background-color: whitesmoke;
	margin: 3rem;
}

h1,
h2,
h3,
ul,
ol,
p {
	color: rgb(0, 142, 59);
    font-family: "Raleway";
    font-weight: 600;
    text-align: justify;
}

a {
	color: #2b580c;
}

.alerta {
    background-color: yellow;
    display: inline;
}

.logoimagem {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}