:root {
    --primary-color: #ffCF00;
}

body {
    background-color: #000;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    font-weight: 500;
    font-family: "Raleway";
    color: var(--primary-color);
    text-align: center;
}

p {
    color: var(--primary-color);
    text-align: justify;
    margin-left: 2rem;
    margin-right: 2rem;
    /* display: block; */
}

a {
    font-weight: 700;
    font-family: "Raleway";
}

a:visited {
    color: rgb(59, 116, 24);
}

a{
    color: rgb(105, 206, 42);
}

p::first-letter {
    font-size: 40px;
}