h2 {
    text-align: center;
}

body {
    background-color: #222831;
}

h1 {
    color: wheat;
}

h2 {
    color: wheat;
}

h3 {
    color: wheat;
}

p {
    color: wheat;
    text-align: justify;
}

a{
    color: rgb(206, 193, 42);
    text-align: center;
    /* rgb(206, 193, 42) */
}
ul {
    color: wheat;
}

li {
    color: wheat;
}

hr {
    color: wheat;
}